#timer {
  padding: 0.1rem;
  font-size: 1.1em;
  display: flex;
  color: white;
}
.button {
  height: 1.4em;
  width: 1.4em;
}
.time-container{
  display: flex;
  justify-content: left;
  align-items: center;
}
.session-container{
  display: flex;
  justify-content: left;
  align-items: center;
}